In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .master("local[*]") \
    .appName("T-systems: tercera sesion") \
    .getOrCreate()

sc = spark.sparkContext

In [3]:
from pyspark import Row

In [5]:
rdd = sc.parallelize([('a', 1), ('b', 1), ('c', 2)])

In [8]:
df = rdd.toDF()

In [9]:
df.show()

+---+---+
| _1| _2|
+---+---+
|  a|  1|
|  b|  1|
|  c|  2|
+---+---+

In [13]:
df_p = df.toPandas()
df_p

  _1  _2
0  a   1
1  b   1
2  c   2

In [14]:
df2 = spark.createDataFrame(df_p)

C:\Users\ruben\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\pyspark\sql\pandas\conversion.py:485: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if should_localize and is_datetime64tz_dtype(s.dtype) and s.dt.tz is not None:

In [15]:
df2.show()

+---+---+
| _1| _2|
+---+---+
|  a|  1|
|  b|  1|
|  c|  2|
+---+---+

In [16]:
rdd = sc.parallelize([('Ruben', 22), ('Paula', 21)])
df = spark.createDataFrame(rdd, "name: string, age:int")
df.show()

+-----+---+
| name|age|
+-----+---+
|Ruben| 22|
|Paula| 21|
+-----+---+

In [17]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [20]:
book = spark.read.text('C:\\Users\\ruben\\Downloads\\quixote.txt')
book.show(5, truncate = False)

+--------------------------------------------------------------------------------+
|value                                                                           |
+--------------------------------------------------------------------------------+
|                                                                                |
|The Project Gutenberg EBook of The History of Don Quixote by Miguel de Cervantes|
|                                                                                |
|This eBook is for the use of anyone anywhere at no cost and with                |
|almost no restrictions whatsoever.  You may copy it, give it away or            |
+--------------------------------------------------------------------------------+
only showing top 5 rows

In [21]:
# tambien se pueden leer csv con spark.read.csv pero no te pone estructura. spark.read.csv('ruta', header = True)
# se leen como texto. 
# en json si puedes especificar desde el archivo el tipo de dato. (spark.read.json)

In [22]:
df_json = spark.read.json("C:\\Users\\ruben\\Desktop\\data engineering\\s4-pyspark\\data.json")

In [23]:
df_json.show(5)

+-----------+--------------------+----------+---------+---------------+
|employee_id|             hobbies|    joined| location|  personal_info|
+-----------+--------------------+----------+---------+---------------+
|       8761|[Lifting, Running...|2010-05-10|       UK|      {35, Lam}|
|      12441|[Triathlon, Runni...|2009-01-12|    Spain|   {36, Direnc}|
|       5646|  [Singing, Dancing]|2002-10-25|      USA|  {42, Rebecca}|
|       1233|                NULL|2018-08-14|       UK|{46, Grazziela}|
|       3242|    [Running, Music]|2018-08-14|Australia|   {22, Edwina}|
+-----------+--------------------+----------+---------+---------------+

In [24]:
df_json.printSchema()

root
 |-- employee_id: long (nullable = true)
 |-- hobbies: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- joined: string (nullable = true)
 |-- location: string (nullable = true)
 |-- personal_info: struct (nullable = true)
 |    |-- age: long (nullable = true)
 |    |-- name: string (nullable = true)

In [27]:
df_csv = spark.read.csv("C:\\Users\\ruben\\Desktop\\data engineering\\s4-pyspark\\results.csv", header = True)

In [28]:
df_csv.show(5)

+----------+----------+----------+----------+----+----+----+----+-------+-----+
|Question 1|Question 2|Question 3|Question 4|Ex01|Ex02|Ex03|Ex04|Project|Total|
+----------+----------+----------+----------+----+----+----+----+-------+-----+
|        18|        16|        23|        22| 100|  85|  80|  70|     80|   81|
|        20|        13|        11|        22| 100|  85|  80|  90|     93|   79|
|         7|         7|         0|         2| 100| 100|  85|  30|     70|   42|
|        14|        16|         4|        13|  95|  95| 100|  55|     87|   67|
|         4|         6|         0|         0|  65|  95|  65|  25|     70|   39|
+----------+----------+----------+----------+----+----+----+----+-------+-----+
only showing top 5 rows

In [29]:
df_csv.printSchema()

root
 |-- Question 1: string (nullable = true)
 |-- Question 2: string (nullable = true)
 |-- Question 3: string (nullable = true)
 |-- Question 4: string (nullable = true)
 |-- Ex01: string (nullable = true)
 |-- Ex02: string (nullable = true)
 |-- Ex03: string (nullable = true)
 |-- Ex04: string (nullable = true)
 |-- Project: string (nullable = true)
 |-- Total: string (nullable = true)

In [30]:
# Los dataframes estan distribuidos por filas

In [32]:
df.show()

+-----+---+
| name|age|
+-----+---+
|Ruben| 22|
|Paula| 21|
+-----+---+

In [33]:
df['name'] #no se puede sacar una col asÃ­ porque esta distribuida

Column<'name'>

In [35]:
df.select('name').show() #es una accion, hace un collect sabiendo como hacer el print con la estructura (tiene __str__)

+-----+
| name|
+-----+
|Ruben|
|Paula|
+-----+

In [36]:
df.select(df.name).show()
df.select(df['name']).show()
#son todo formas equivalentes

+-----+
| name|
+-----+
|Ruben|
|Paula|
+-----+

+-----+
| name|
+-----+
|Ruben|
|Paula|
+-----+

In [37]:
df.select('name', 'name', 'age', 'age').show() #con select se pueden crear columnas

+-----+-----+---+---+
| name| name|age|age|
+-----+-----+---+---+
|Ruben|Ruben| 22| 22|
|Paula|Paula| 21| 21|
+-----+-----+---+---+

In [40]:
df.select('name', (df.age + 10).alias('newage')).show()

+-----+------+
| name|newage|
+-----+------+
|Ruben|    32|
|Paula|    31|
+-----+------+

In [42]:
df.select(df.name.alias('first_name'), 'age').show()

+----------+---+
|first_name|age|
+----------+---+
|     Ruben| 22|
|     Paula| 21|
+----------+---+

In [46]:
df.filter(df.age == 21).show()

+-----+---+
| name|age|
+-----+---+
|Paula| 21|
+-----+---+

In [52]:
df.age.between(20, 21).show()

#operaciones columna, tienes que hacer una transformacion como select o filter

TypeError: 'Column' object is not callable

In [51]:
df.filter(df.age.between(20, 21)).show()

+-----+---+
| name|age|
+-----+---+
|Paula| 21|
+-----+---+

In [54]:
df.select((df.age.between(20, 21)).alias('mas 20 y menos 21')).show()

+-----------------+
|mas 20 y menos 21|
+-----------------+
|            false|
|             true|
+-----------------+

In [56]:
df.sort('age', ascending = True).show()

+-----+---+
| name|age|
+-----+---+
|Paula| 21|
|Ruben| 22|
+-----+---+

In [60]:
from pyspark.sql import functions as sql_f

In [62]:
df.rdd.getNumPartitions()

16

In [67]:
df.select(df.name, sql_f.length(df.name).alias('longitud nombre')).show()

+-----+---------------+
| name|longitud nombre|
+-----+---------------+
|Ruben|              5|
|Paula|              5|
+-----+---------------+

In [68]:
eDf = spark.createDataFrame([Row(a=1, intlist = [1,2,3], mapfield = {'a' : 'b'})])

In [69]:
eDf.show()

+---+---------+--------+
|  a|  intlist|mapfield|
+---+---------+--------+
|  1|[1, 2, 3]|{a -> b}|
+---+---------+--------+

In [73]:
eDf.select(sql_f.explode(eDf.intlist)).show()

+---+
|col|
+---+
|  1|
|  2|
|  3|
+---+

In [74]:
eDf.select('*', sql_f.explode(eDf.intlist)).show()

+---+---------+--------+---+
|  a|  intlist|mapfield|col|
+---+---------+--------+---+
|  1|[1, 2, 3]|{a -> b}|  1|
|  1|[1, 2, 3]|{a -> b}|  2|
|  1|[1, 2, 3]|{a -> b}|  3|
+---+---------+--------+---+

In [75]:
eDf.select('a', 'mapfield', sql_f.explode(eDf.intlist)).show()

+---+--------+---+
|  a|mapfield|col|
+---+--------+---+
|  1|{a -> b}|  1|
|  1|{a -> b}|  2|
|  1|{a -> b}|  3|
+---+--------+---+

In [77]:
eDf.select('a', 'intlist', sql_f.explode(eDf.mapfield)).show()

+---+---------+---+-----+
|  a|  intlist|key|value|
+---+---------+---+-----+
|  1|[1, 2, 3]|  a|    b|
+---+---------+---+-----+

In [79]:
lines_df = spark.read.text('C:\\Users\\ruben\\Downloads\\quixote.txt')
lines_df.show(5, truncate = False)

+--------------------------------------------------------------------------------+
|value                                                                           |
+--------------------------------------------------------------------------------+
|                                                                                |
|The Project Gutenberg EBook of The History of Don Quixote by Miguel de Cervantes|
|                                                                                |
|This eBook is for the use of anyone anywhere at no cost and with                |
|almost no restrictions whatsoever.  You may copy it, give it away or            |
+--------------------------------------------------------------------------------+
only showing top 5 rows

In [87]:
lines_df.select(sql_f.split(lines_df.value, " ")).show(truncate = False)

+-----------------------------------------------------------------------------------------------+
|split(value,  , -1)                                                                            |
+-----------------------------------------------------------------------------------------------+
|[]                                                                                             |
|[The, Project, Gutenberg, EBook, of, The, History, of, Don, Quixote, by, Miguel, de, Cervantes]|
|[]                                                                                             |
|[This, eBook, is, for, the, use, of, anyone, anywhere, at, no, cost, and, with]                |
|[almost, no, restrictions, whatsoever., , You, may, copy, it,, give, it, away, or]             |
|[re-use, it, under, the, terms, of, the, Project, Gutenberg, License, included]                |
|[with, this, eBook, or, online, at, www.gutenberg.org]                                         |
|[]                                                                                             |
|[]                                                                                             |
|[Title:, The, History, of, Don, Quixote]                                                       |
|[]                                                                                             |
|[Author:, Miguel, de, Cervantes, Saavedra]                                                     |
|[]                                                                                             |
|[Release, Date:, July, 27,, 2004, [EBook, #996]]                                               |
|[Last, Updated:, August, 26,, 2019]                                                            |
|[]                                                                                             |
|[Language:, English]                                                                           |
|[]                                                                                             |
|[Character, set, encoding:, UTF-8]                                                             |
|[]                                                                                             |
+-----------------------------------------------------------------------------------------------+
only showing top 20 rows

In [90]:
words = lines_df.select(sql_f.explode(sql_f.split(lines_df.value, " ")))

In [101]:
words.show(5)

+---------+
|      col|
+---------+
|         |
|      The|
|  Project|
|Gutenberg|
|    EBook|
+---------+
only showing top 5 rows

In [103]:
words.filter("col != ''").show()

+---------+
|      col|
+---------+
|      The|
|  Project|
|Gutenberg|
|    EBook|
|       of|
|      The|
|  History|
|       of|
|      Don|
|  Quixote|
|       by|
|   Miguel|
|       de|
|Cervantes|
|     This|
|    eBook|
|       is|
|      for|
|      the|
|      use|
+---------+
only showing top 20 rows

In [ ]:
# Lo ponemos todo en el mismo trozo de codigo

In [105]:
lines_df.show(2)

+--------------------+
|               value|
+--------------------+
|                    |
|The Project Guten...|
+--------------------+
only showing top 2 rows

In [111]:
lines_df.select(sql_f.explode(sql_f.split(lines_df.value, ' '))\
        .alias('word')).filter("word != ''").show()

+---------+
|     word|
+---------+
|      The|
|  Project|
|Gutenberg|
|    EBook|
|       of|
|      The|
|  History|
|       of|
|      Don|
|  Quixote|
|       by|
|   Miguel|
|       de|
|Cervantes|
|     This|
|    eBook|
|       is|
|      for|
|      the|
|      use|
+---------+
only showing top 20 rows

# Word Count - One Line

In [123]:
lines_df.show(4)

+--------------------+
|               value|
+--------------------+
|                    |
|The Project Guten...|
|                    |
|This eBook is for...|
+--------------------+
only showing top 4 rows

In [122]:
lines_df.select(sql_f.explode(sql_f.split(lines_df.value, ' '))\
        .alias('word')).filter("word != ''").groupBy('word').count().sort('count', ascending = False).show(10)

+----+-----+
|word|count|
+----+-----+
| the|20923|
| and|16606|
|  to|13492|
|  of|12866|
|that| 7164|
|   a| 7003|
|  in| 6860|
|   I| 5756|
|  he| 5640|
| for| 4534|
+----+-----+
only showing top 10 rows

In [ ]:
# el groupby es una agregacion/agrupacion, tienes que hacer una transformacion despues

In [124]:
df.show()

+-----+---+
| name|age|
+-----+---+
|Ruben| 22|
|Paula| 21|
+-----+---+

In [125]:
df.agg(sql_f.mean(df.age)).show()

+--------+
|avg(age)|
+--------+
|    21.5|
+--------+

In [127]:
lines_df.select(sql_f.explode(sql_f.split(lines_df.value, ' '))\
        .alias('word')).filter("word != ''").groupBy('word').count().sort('count', ascending = False).show(10)

+----+-----+
|word|count|
+----+-----+
| the|20923|
| and|16606|
|  to|13492|
|  of|12866|
|that| 7164|
|   a| 7003|
|  in| 6860|
|   I| 5756|
|  he| 5640|
| for| 4534|
+----+-----+
only showing top 10 rows

In [130]:
# import pyspark.pandas as ps
# people_ps = df.pandas_api()